<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        
    </head>

    <body>
        <div class="container">
            <%- include('fragments/navbar.ejs'); %>
            <div class="row" style="text-align: center;">
                <h1>
                    About This Page
                </h1>
                <hr>
            </div>
            <div class="row" style="font-size:20;">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" >
<script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1920px; height: 827px;'><object class='tableauViz' width='1920' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;qrouse' /><param name='name' value='tab-test&#47;ProductUtilization' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
                </div>
                <div class="col-lg-4"></div>

            </div>
        </div>
    </body>
</html>