<div class="row navbar" >
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/alltickers">All Tickers</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    <hr>
</div>
